*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Oswald', serif;
}
body{
    background: url(../Media/Images/backgroundmaybe.jpg);

}

.subheading img{
    width: 80px;
    margin-top: 10px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-decoration: underline;
    font-style: italic;
    font-size: 30px;
    background-color: rgb(255, 181, 45);
    padding: 50px;
    margin-top: -20px;
    max-width: 100%;
    margin-bottom: -39px;
}

header img{
    max-width: 5%;
    margin-top: 15px;
}

header a:hover{
color: white;
}

a:hover{
    color: black;
}


section{
    width: 65%;
    height: 800px;
    display: flex;
    margin: 50px auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(79, 80, 80, 0.8);
    border-radius: 8px;
    border: rgb(255, 181, 45) solid 3px; 
    color: white;
    letter-spacing: 2px;
    padding-bottom: 20px;
    text-decoration: underline;
    flex-shrink: 2;
}

.mainbody{
    width: 70%;
    height: 70%;
    display: flex;
    margin: 50px auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(79, 80, 80, 0.8);
    border-radius: 8px;
    border: rgb(255, 181, 45) solid 3px; 
    color: white;
    letter-spacing: 3px;
    text-decoration: underline;
}

section h2{
    margin: 20px;
}

.toprow{
    
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.botrow{
    
    display: flex;
    justify-content: space-between;
    width: 90%;
}


.maps{
    width: 215px;
    height: 350px;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
}

a{
    color: black;
}

.mainpanel:hover{
    border: rgb(93, 83, 243) solid 4px;
    border-radius: 8px;
    margin: -4px;
}

.subheading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    font-size: 26px;
    margin-top: 50px;
    margin-bottom: -40px;
    background-color: rgba(94, 83, 243, 0.781) ;
    font-style: italic;
    text-decoration: underline;
    padding-bottom: 10px;
    
}

/*Maps Home Start*/

#mirage{
   background: url(../Media/Images/Mirage.png) center no-repeat;
   background-size: 215px;
}

#overpass{
    background: url(../Media/Images/overpass.png) center no-repeat;
    background-size: 215px;
}

#vertigo{
    background: url(../Media/Images/Vertigo.png) center no-repeat;
    background-size: 215px;
}

#ancient{
    background: url(../Media/Images/Ancient.png) center no-repeat;
    background-size: 215px;
}

#inferno{
    background: url(../Media/Images/Inferno.png) center no-repeat;
    background-size: 215px;
}

#nuke{
    background: url(../Media/Images/Nuke.png) center no-repeat;
    background-size: 215px;
}

#anubis{
    background: url(../Media/Images/Anubis.png) center no-repeat;
    background-size: 215px;
}

#dust{
    background: url(../Media/Images/dust.png) center no-repeat;
    background-size: 215px;
}

/*Maps Home End*/

.bigmaps{
    display: flex;
    border-radius: 10px;
    border: rgb(255, 181, 45) solid 3px;
    margin-bottom: 0px;
    
}

.bigmaps img{
    width: 800px;
    max-width: 100%;
    border-radius: 10px;
}

#bigmapoverpass{
    width: 800px;
    max-width: 100%;
    border-radius: 10px;
}

#bigmapvertigo{
    width: 800px;
    max-width: 100%;
    border-radius: 10px;
}

#bigmapancient{
    width: 800px;
    max-width: 100%;
    border-radius: 10px;
}

#bigmapinferno{
    width: 800px;
    max-width: 100%;
    border-radius: 10px;
}

#bigmapnuke{
    width: 1200px;
    max-width: 100%;
    border-radius: 10px;
}

#bigmapanubis{
    width: 750px;
    max-width: 100%;
}

#bigmapdust{
    width: 750px;
}

/*Experimental Hero Starts*/

/* Slideshow container */
.slideshow-container {
    max-width: 1250px;
    position: relative;
    margin: auto;
    padding-bottom: 15px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a grey background color */
  .prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
  }

  .backhome{
    color: white;
  }

  footer{
    background-color: rgb(255, 181, 45);
    color: rgb(0, 0, 0);
    font-weight: 100;
    text-align: center;
    padding: 10px;
  }

  footer p{
    font-weight: 200;
  }

  footer h3{
    text-decoration: underline;
    font-style: italic;
  }

  @media only screen and (max-width: 1650px){
   section{
    width: 90%;
   }

  }

  @media only screen and (max-width: 1281px){
    .maps{
        width: 200px;
        height: 300px;
        padding-bottom: 30px;
        padding-top: 15px;
    }
    header h1{
        font-size: 50px;
    }
    
  }

  @media only screen and (max-width: 1020px){
    .maps{
        width: 150px;
        height: 200px;
    }
    section{
        width: 80%;
        height: 600px;
    }

    @media only screen and (max-width: 884px){
        section{
            width: 95%;
            height: 600px;
        }
        .maps{
            width: 130px;
            height: 150px;
        }

    }
 
  }